<header class="site-header">

  <div class="container txt-center">

    <nav class="navbar">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">首页</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">关于我</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> feed</a></li>
      </ul>
    </nav>

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/zzl3141.jpg" | prepend: site.baseurl }}" alt="我的照片" class="dot">
    </a>
    <h1>Hi, I'm zzl3141 </h1>
    <h1>{{ site.title }}</h1>
    <p class="tagline">{{ site.description }}</p>
    <hr class="hr">

  </div>

</header>
